@model WebApplication4.Common.PagedResult<WebApplication4.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index" method="get" class="mb-3">
    <!--透過隱藏input保留排序條件-->
    <input type="hidden" name="sort" value="@ViewData["CurrentSort"]" />
    <div class="input-group" style="width: 400px">
        <input type="text" name="keyword" value="@ViewData["Keyword"]" class="form-control" placeholder="輸入姓名">
        <button type="submit" class="btn btn-primary">搜尋</button>
        <a asp-action="Index" class="btn btn-secondary">重置</a>
    </div>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items)
            </th>
            <th>
                <a asp-action="Index" 
                   asp-route-sort="@ViewData["Sort"]"
                   asp-route-keyword="@ViewData["Keyword"]">
                    @Html.DisplayNameFor(model => model.Items)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" asp-action="Index"
                   asp-route-page="@i"
                   asp-route-keyword="@ViewData["Keyword"]"
                   asp-route-sort="@ViewData["CurrentSort"]">@i</a>
            </li>
        }
    </ul>
</nav>
